@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 12px;
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  background: rgba(17, 17, 27, 0.05);
  color: @overlay0;
  padding: 4px 6px;
  border-radius: 6px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

#workspaces button {
  padding: 1px 4px;
  margin: 0 1px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.08);
}

#workspaces button.focused {
  background: @rosewater;
  color: #1a1b26;
}

#workspaces button.active {
  background: @mauve;
  color: #1a1b26;
}

#workspaces button.urgent {
  background: #eb4d4b;
  color: #fff;
}

#clock,
#pulseaudio,
#network,
#battery,
#cpu,
#memory,
#bluetooth,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#mode,
#custom-keyboard,
#custom-weather,
#custom-notification,
#custom-airplane,
#custom-power,
#window,
#scratchpad {
  margin: 0 4px;
  padding: 2px 7px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

#clock:hover,
#pulseaudio:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#bluetooth:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#custom-keyboard:hover,
#custom-weather:hover,
#custom-notification:hover,
#custom-airplane:hover,
#window:hover,
#custom-power:hover {
  background: rgba(0, 0, 0, 0.2);
}

#clock {
  color: @maroon;
}
#pulseaudio {
  color: @blue;
}
#network {
  color: @yellow;
}
#battery {
  color: @green;
}
#backlight {
  color: @lavender;
}
#bluetooth {
  color: @sky;
}
#memory {
  color: @text;
}
#window {
  color: @text;
}
#temperature {
  color: @red;
}
#cpu {
  color: @rosewater;
}
#custom-keyboard {
  color: @peach;
}
#custom-weather {
  color: @text;
}
#custom-power {
  color: @sapphire;
}
#custom-notification {
  color: @text;
}
#custom-airplane {
  color: @text;
}

#idle_inhibitor {
  margin-right: 12px;
  border-radius: 3px;
  padding: 2px 7px;
  background: rgba(255, 255, 255, 0.12);
  color: #7cb342;
}
#idle_inhibitor.activated {
  color: @red;
}

menu {
  border-radius: 6px;
  background: rgba(22, 19, 32, 0.95);
  color: #b5e8e0;
}
menuitem {
  border-radius: 3px;
  padding: 4px 10px;
}
